<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - 波罗克</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link rel="stylesheet" href="/static/dist/css/wangEditor.min.css" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/jquery.Jcrop.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.Jcrop.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.js"></script>

    <script src="/static/js/awesome.js"></script>
    <script src="/static/dist/js/wangEditor.min.js"></script>
    <script>
    $(function(){
        Vue.config.debug = true;
        var firstname = location.pathname.split('/')[1];
var header = new Vue({
    el:".main-header",
    data:{
        classObject:{
            'ahover1':'{{__user__.image}}'=='/static/img/user.png'
        },
        classObject2:{
            'blueactive':firstname==''
        },
        classObject3:{
            'blueactive':firstname=='manage'
        }
    }
});
    });


    </script>
   <!--  <script src="/static/js/getnewsnum.js"></script> -->
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body style="background:#252527;">
<header class="main-header">
    <h1 class="logo header-chunk">
    blog
</h1>
    <nav id="secondary-primary-nav">
            <ul>
                <li class="nav-button hoverline" data-url="blogs"><a href="/" :class="classObject2">日志</a></li>
                 <li class="nav-button hoverline"><a href="/manage/blogs" :class="classObject3">管理</a></li>
            </ul>
    </nav>
            <div  class="nav nav1 nav-element">
                <ul>
                {% if __user__ %}
                    <li id="usera">
                        <a class="userhead" v-bind:class="classObject" href="/user/{{__user__.name}}">
                        {% if __user__.image !='/static/img/user.png'%}
                        <img src="{{__user__.image}}" class="round" style="height:60px;width:auto;left:0,z-index:5">
                        {%else%}
                        <i class="uk-icon-user"></i> {{ __user__.name }}
                          {%endif%}
                          </a>
                            <ul>

                            <li><a href="/manage/blogs/create">写博客</a></li>
                                <li><a href="/setting">设置</a></li>
                                <li><a href="/service/dialogue">对话</a></li>
                                <li><a href="/signout">登出</a></li>
                            </ul>
                    </li>
                {% else %}
                    <li><a class="ahover1" href="/signin"><i class="user-stuff"></i> 登陆</a></li>
                    <li><a class="ahover1" href="/register"><i class="user-stuff"></i> 注册</a></li>
                {% endif %}
                </ul>
                </div>
            
</header>


    <div class="container">
      
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
       
    </div>


            <div class="base-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com/fancao" class="circlebutton" ><i class="uk-icon-weibo"></i></a>
                    <a target="_blank" href="https://github.com/tptghxq" class="circlebutton"><i class="uk-icon-github"></i></a>
                </p>
                <p>Powered by <a class="bottomtext" href="http://awesome.liaoxuefeng.com">Liao Xuefeng</a>. Copyright &copy; 2016. [<a class="bottomtext" href="/manage" target="_blank">Manage</a>]</p>
                
            </div>

</body>
</html>
