<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - 波罗克</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link rel="stylesheet" href="/static/dist/css/wangEditor.min.css" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="/static/css/jquery.atwho.min.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.caret.js"></script>
    <script src="/static/js/jquery.atwho.js"></script>
    <script src="/static/js/jquery.Jcrop.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/dist/js/wangEditor.min.js"></script>
    <script>
    $(function(){
        Vue.config.debug = true;
        var firstname = location.pathname.split('/')[1];
var headnav = new Vue({
    el:".main-header",
    data:{
        classObject:{
            'ahover1':'{{__user__.image}}'=='/static/img/user.png'
        },
        classObject2:{
            'blueactive':firstname==''
        },
        classObject3:{
            'blueactive':firstname=='manage'
        },follownews:0,atnews:0,allcount:0,dianews:0,username:'{{__user__.name}}'
    },ready:function(){
        if(!this.username){return}
            that=this;
        getJSON('/getallnews',function(err,r){
            if(err){showInfo(err)}
                else{
                    that.follownews=r.follownews;
                    that.atnews=r.atnews;
                    that.allcount=r.allcount;
                    that.dianews=r.dianews;
                }
        })
    }
});
    });


    </script>
   <!--  <script src="/static/js/getnewsnum.js"></script> -->
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
<header class="main-header">
    <h1 class="logo header-chunk">
    blog
</h1>
    <nav id="secondary-primary-nav">
            <ul>
                <li class="nav-button hoverline" data-url="blogs"><a href="/" :class="classObject2">文章</a></li>
                 <li class="nav-button hoverline"><a href="/manage/blogs" :class="classObject3">管理</a></li>
            </ul>
    </nav>
            <div  class="nav nav1 nav-element">
                <ul>
                {% if __user__ %}
                    <li id="usera">
                        <a target="_blank" class="userhead" v-bind:class="classObject" href="/user/{{__user__.name}}"><i v-if="allcount" class="fa fa-circle mention-icon2"></i>
                        {% if __user__.image !='/static/img/user.png'%}
                        <img src="{{__user__.image}}" class="round" style="height:60px;width:auto;left:0,z-index:5">
                        {%else%}
                        <i class="fa fa-user"></i> {{ __user__.name }}
                          {%endif%}
                          
                          </a>
                            <ul>

                            <li><a href="/manage/blogs/create"><i class="fa fa-pencil"></i>写文</a></li>

                                <li><a href="/setting"><i class="fa fa-gears"></i>设置</a></li>
                                <li><a href="/service/mentions"><i class="fa fa-bell"></i>提醒<i v-if="allcount" v-text="allcount" class="fa fa-circle mention-icon"></i></a></li>
                                <li><a href="/service/dialogue"><i class="fa fa-envelope"></i>信息</a></li>
                                <li><a href="/signout"><i class="fa fa-sign-out"></i>登出</a></li>
                            </ul>
                    </li>
                {% else %}
                    <li><a class="ahover1" href="/signin"><i class="user-stuff"></i> 登陆</a></li>
                    <li><a class="ahover1" href="/register"><i class="user-stuff"></i> 注册</a></li>
                {% endif %}
                </ul>
                </div>
            
</header>


    <div class="container">
      
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
       
    </div>


            <div class="base-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com/fancao" class="circlebutton" ><i class="fa fa-weibo"></i></a>
                    <a target="_blank" href="https://github.com/tptghxq" class="circlebutton"><i class="fa fa-github"></i></a>
                </p>
                <p>Powered by <a class="bottomtext" href="http://awesome.liaoxuefeng.com">Liao Xuefeng</a>. Copyright &copy; 2016. [<a class="bottomtext" href="/manage" target="_blank">Manage</a>]</p>
                
            </div>

</body>
</html>
