{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

<script>

var comment_url = '/api/blogs/{{ blog.id }}/comments';
$(function () {
    {% if __user__ %}
    var editor =new wangEditor('commentArea');
    editor.config.menus = [
        'bold',
        'underline',
        'italic',
        'strikethrough',
        'eraser',
        'forecolor',
        '|',
        'quote',
        'fontfamily',
        'fontsize',
        'head',
        'unorderlist',
        'orderlist',
        'alignleft',
        'aligncenter',
        'alignright',
        '|',
        'link',
        'unlink',
        'emotion',
        '|',
        'img',
        'insertcode',
        '|',
        'undo',
        'redo',
    ];
    editor.config.menuFixed = false;
        editor.config.emotions={
        'default':{
            title:'默认',
            data:'../../static/emotions/emotions.data'
        }
    };
editor.create();
 {% endif %}
    var article = new Vue({
        el:'#article',data:{
            like_num:'{{blog.like_num}}',
            likestate:{{blog.likestate}}
        },
        methods:{
            addLikeBlog:function(blogid){
            if (!'{{__user__.id}}'||('{{__user__.id}}'=='{{blog.user_id}}')) {
                return 
            }
                $like=$('.likebutton');          
            $like.addClass('disabled');
            that=this;
            postJSON('/api/likeblog',{blog_id:blogid},function(err,r){
            $like.removeClass('disabled');
            if(err){
                showInfo(err);
            }else{
                that.likestate=r.likestate;
                that.like_num=r.like_num;              
            }
        });}
        }
    });


    
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        var content = $form.find('textarea').val().trim();
        if (content==='') {
          showInfo('请输入评论内容！',1);
        }
        else{$form.postJSON(comment_url, { content: content }, function (err, result) {
            if (!err) {
               location.reload();
            }
            
        });}
        
    });


Vue.component('doagree',{
    data:function(){
         return {
            agreestate:this.agreestate2,
            agreenum:this.agreenum2,
            disagreenum:this.disagreenum2,
            // isA:this.agreestate==1,
            // isB:!this.agreestate,
            // classObject: {
            // 'upactive':this.agreestate==1,
            // 'triangleup':!this.agreestate
            // }
         }
        },
    props:['agreestate2','commentid','agreenum2','disagreenum2'],
    template:'<div class="agreebox"><div class="triangleup" :class="{upactive:agreestate==1}" v-on:click="opagree(1,$event)"></div><div v-text="agreenum"></div><div v-text="disagreenum"></div><div class="triangledown" :class="{downactive:agreestate==-1}" v-on:click="opagree(-1,$event)"></div></div>',
    methods:{
    opagree:function(op,event){
    $(event.target).addClass('disabled'); 
            that=this;
    postJSON('/api/agree',{comment_id:that.commentid,op:op},function(err,r){
        $(event.target).removeClass('disabled');
        if(err){showInfo(err);}
        else{
           that.agreenum=r.agreenum;
           that.agreestate=r.agreestate;
           that.disagreenum=r.disagreenum;
    }
    });
    }
    }
});

new Vue({
  el: '#allcomment'
});
       
        }); 
  
</script>

{% endblock %}

{% block content %}

<div class="uk-width-medium-3-5 oneblog">
        <article id="article">
        <h2>{{ blog.name }}</h2>  
          <div class="frags">   
          <span class="fragment author"><a href="/user/{{blog.user_name}} ">{{ blog.user_name }}</a></span><span class="fragment smarttime">{{ blog.created_at|datetime }}      </span>
                {% if blog.update_at %}
                    <span class="fragment smarttime">更新于{{ blog.update_at|datetime}}</span>

                {% endif %}
                <span class="fragment"><a class="likebutton" :class="likestate?'red':'blue'" v-on:click="addLikeBlog('{{blog.id}}',2)" href="javascript:void(0)"><i class="uk-icon-heart"></i></a><span class="num gred" v-text="like_num"></span></span><span class="fragment"><i class="uk-icon-eye blue"></i><span class="num gred">{{blog.read_num}}</span></span>
             {% if __user__.admin or __user__.id==blog.user_id %}   
             <a onclick="deleteItem({{blog}})" class="delete" href="javascript:void(0)">删除</a> 
             <a class="edit" href="/manage/blogs/edit?id={{blog.id}}">编辑</a>
             {% endif %}
        </div>
            <div class="blogcontent">{{ blog.content|safe }}</div>
            
        </article>

        <hr class="uk-article-divider">

   

        
 {% if __user__ %}

        <article class="uk-comment">
            <div class="uk-comment-header">
                <div class="commentuser"><img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ __user__.image }}">
                <h3 class="uk-comment-title">{{ __user__.name }}</h3> </div>
                           <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                
                    <div class="uk-form-row">
                        <textarea id="commentArea" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;border-radius:0;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="recbutton">发表评论</button>
                    </div>
                </form>
            </div>
            </div>

        </article>
      <div class="comentnav"><h3>最新评论</h3></div>  

  
    {% endif %}
        <ul id="allcomment" class="uk-comment-list">
            {% for comment in comments %}
            <li id="{{comment.id}}">
            <!-- 评论书签 -->

                <article class="uk-comment">
 <doagree name="agreebox" agreestate2="{{comment.agreestate}}" agreenum2="{{comment.agree_num}}" disagreenum2="{{comment.disagree_num}}" commentid="{{comment.id}}"></doagree>
                <a name="{{comment.id}}" class="disabled" href="javascript:void(0)"></a>
                    <header class="uk-comment-header comment-header">
                    <a href="/user/{{comment.user_name}}">
                        <img class="round" style="width:55px;height:55px;margin-right:1em" src="{{ comment.user_image }}"></a>
                        <h4 class="uk-comment-title"><span>{{ comment.user_name }} {% if comment.user_id==blog.user_id %}<span class="authoricon">(作者)</span>{% endif %} </span><span class="smarttime">{{ comment.created_at|datetime }}</span></h4>{% if __user__.admin or comment.user_id==__user__.id %}<a class="delete" style="position:absolute;right:1em;bottom:0.5em;" onclick="deleteItem({{comment}})" href="javascript:void(0)">删除</a>{% endif %}
                
                    </header>
                    
                    <div class="comment-body">
                        {{ comment.content|safe }}
                    </div>
                    
                        
                </article>
                
            </li>
            {% else %}
            <p>暂时还没有人评论</p>
            {% endfor %}
        </ul>

</div>

{% endblock %}
