{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <div class="uk-tab-center .uk-width-medium-*">
        <ul class="uk-tab" data-uk-tab="{connect:'#set'}">
            <li class="uk-active"><a href="#base">热门</a></li>
            <li><a href="#pw">关注</a></li>
        </ul>
    </div>
    {% for blog in blogs %}
        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta"><a href="/user/{{blog.user_name}}">{{ blog.user_name}}</a>  |  {{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    {{ pagination('/?page=', page) }}
    </div>
{% endblock %}