{% extends '__base__.html' %}

{% block title %}对话{% endblock %}

{% block beforehead %}
<script>
	$(function(){
                  
		var dia = new Vue({
        el: '#dia',
        data:{
        	friends:'',
        	page:'',
        	content:'',
        	opfriendId:'',
        	opfriendName:'',
        	dialogues:'',
        	opfriend:'',
            editor:''
        },
        ready:function(){
        	this.getUsers();
            var editor = new wangEditor('text');
            editor.config.menuFixed = false;
            editor.config.uploadImgUrl = '/api/upload';
            editor.config.uploadImgFileName='dialoguePhoto';
            editor.config.menus = [
        'eraser',
        'insertcode',
        'forecolor',
        '|',
        'quote',
        'fontfamily',
        'fontsize',
        '|',
        'link',
        'unlink',
        'emotion',
        'img'
    ];
    editor.config.emotions={
        'default':{
            title:'默认',
            data:'../../static/emotions/emotions.data'
        }
    };
                editor.create();
                this.editor=editor;
        },
        methods: {
            getUsers: function () {
                that=this;
                postJSON('/api/focus/users',{}, function (err, r) {
                    if (!err) {
                    	that.friends=r.friends;
                    	that.page=r.page;
                        that.getRecord(r.friends[0]);
                    }
                });
            },
            submit: function (event) {
                event.preventDefault();
                if(!this.opfriendId){
                	return
                }
                var $form = $('#dia').find('form');
                that=this;
                 this.content = this.editor.$txt.html();
                $form.postJSON('/api/dialogue/save',{content:that.content,friendId:that.opfriendId}, function (err, r) {
                    if (!err) {
                        if(r.message){
                        	// $('#text').val("");
                            that.editor.clear();
                        	that.getRecord(that.opfriend);
                        }
                    }

                });
            },
            getRecord: function(friend) {
            		this.opfriendId= friend.id;
            		this.opfriendName = friend.name;
            		this.opfriend = friend;
            		that=this;
            		postJSON('/api/dialogue/get',{friendId:friend.id},function(err,r){
                        if (err) {showInfo(err)}
                     
                        else {
                            that.dialogues=r.dialogues;
                            that.page=r.page
                        }
            				
            		});
            }
        }
    });
	});
</script>
{% endblock %}


{% block content %}
<div id="dia" class="dialogueall">

<div class="getandsendbox">
   <div class="contentbox">
            <div v-for="dialogue in dialogues" :class="dialogue.from_user_id!='{{__user__.id}}'?'otherwordbox':'mywordbox'">
            <div :class="dialogue.from_user_id!='{{__user__.id}}'?'otherwordsandname':'mywordsandname'">
                <div class="othername" v-if="dialogue.from_user_id!='{{__user__.id}}'"><a :href="'/user/'+opfriend.name"><img class="uk-comment-avatar uk-border-circle" width="50" height="50" :src="opfriend.image"></a></div>
                <div class="myname" v-if="dialogue.from_user_id=='{{__user__.id}}'"><a href="/user/{{__user__.name}}"><img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ __user__.image }}"></a></div>
                <div :class="dialogue.from_user_id!='{{__user__.id}}'?'otherwords':'mywords'" v-html="dialogue.content"></div>
                
            </div>
            <div class="diatime" v-text="dialogue.created_at.toDateTime()"></div>
            </div>
    </div>          
            <form v-on:submit="submit" class="sendform">
            <textarea id="text" row="2" v-model="content" name="content" placeholder="请输入发送信息" class="sendtext">  
            </textarea>
            <button type="submit" id="send" class="sentbutton">发送</button> 
            </form> 

</div>
	
        
<div class="opobj">
	<ul>
		<li v-for="friend in friends"><a :class="friend.id==opfriendId?'active':''" href="javascript:void(0);" v-on:click="getRecord(friend)" v-text="friend.name"></a></li>
	</ul>
</div>
</div>
{% endblock %}