{% extends '__base__.html' %}

{% block title %}管理{% endblock %}

{% block beforehead %}

<script>
$(function() {
     if(!'{{__user__.id}}'){
         window.location.replace('/');
     }
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            items:null,
            page:null,
            pageCodes:[],
            tablename:location.pathname.split('/').pop(),
            models:{
                'users':{'firstList':'名字','secondList':'邮箱'},
                'blogs':{'firstLst':'标题','secondList':'作者'},
                'comments':{'firstLst':'内容','secondList':'作者'}
            }
        },
        ready: function () {
            this.getItemsByPage({{ page_index }});
        },
        methods: {
            getPageCodes: function(page) {
                this.pageCodes=[];
                this.pageCodes.push(page.page_index);
                if(page.page_count-page.page_index<5){
                       var i= page.page_count-page.page_index;
                }
                else{var i=5}
                if(page.page_index<6){
                    var j =page.page_index-1;
                }
                else{var j=5;}
                  var pageCode=page.page_index;
                    for(;i>0;i--){
                        pageCode++;
                        this.pageCodes.push(pageCode);                        
                    }
                var pageCode2=this.page.page_index;
                    for(;j>0;j--){
                        pageCode2--;
                        this.pageCodes.unshift(pageCode2);                     
                    }
            },
            getItemsByPage: function(page_index) {
                    var that =this;
                    // if(page_index==this.page.page_index){
                    //     return
                    // }
                    getJSON('/api/'+this.tablename, {
                        page: page_index
                    },function (err, results) {
                        $('#loading').hide();
                        if (err) {
                            showInfo(err);
                        }
                        that.items=results.items;
                        that.page=results.page;
                        that.getPageCodes(results.page);
                    });
            },
            edit_blog: function (blog) {
                location.assign('/manage/blogs/edit?id=' + blog.id);
            },
            delete_item: function (item,page) {
                var that = this;
                if (confirm('确认要删除 ' + (item.name||item.user_name+' 的这条评论') +'？删除后不可恢复！')) {
                    postJSON('/api/'+item.table+'/' + item.id + '/delete', function (err, r) {
                        if (err) {
                            showInfo(err);
                        }
                        else {
                            if (page.page_index==page.page_count && page.item_count % page.page_size==1 && page.item_count>page.page_size){
                                that.getItemsByPage(page.page_index - 1);
                            }
                            else{
                                // that.getItemsByPage(page.page_index);
                                $('#'+item.id).remove();
                            }
                        }
                    });
                }
            }
        }
    });
    $('#vm').show();
    });
</script>

{% endblock %}

{% block content %}
<div class="managecontainer" id="vm">

            <div class="subnav">
                <ul>
                    <li><a v-class="tablename=='comments'?'active':''" href="/manage/comments">评论</a> </li>
                    <li><a v-class="tablename=='blogs'?'active':''" href="/manage/blogs">日志</a></li>
                    <li><a v-class="tablename=='users'?'active':''" href="/manage/users">用户</a></li>
                </ul>                  
            </div>  
                           





        <a v-if="'{{__user__.id}}'" href="/manage/blogs/create" class="borderbutton"><i class="uk-icon-plus"></i> 新日志</a>

        <table class="uk-table uk-table-hover optable">
            <thead>
                <tr>
                    <th v-class="title=='邮箱'||'名字'||'作者'?'uk-width-2-10':'uk-width-4-10'" v-repeat="title : models[tablename]" v-text="title"></th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
    <div id="loading" class="uk-width-1-1 uk-text-center">
        <i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>
    </div>            
            <tbody class="itemsbox">
                <tr v-attr="id:item.id" v-repeat="item: items" >
                    <td v-if="tablename=='blogs'" >
                        <a target="_blank" v-attr="href: '/'+tablename.slice(0,-1)+'/'+item.id" v-text="item.name"></a>
                    </td>
                    <td v-if="tablename=='users'" >
                        <a target="_blank" v-attr="href: '/'+tablename.slice(0,-1)+'/'+item.name" v-text="item.name"></a>
                    </td>
                    <td v-if="tablename =='users'" v-text='item.email'>
                    </td>
                    <td v-if="tablename=='comments'">
                        <a target="_blank"  v-attr="href: '/blog/'+item.blog_id+'#'+item.id" v-html="item.content"></a>
                    </td>                    
                    <td v-if="tablename!='users'">
                        <a target="_blank"  v-attr="href: '/user/'+item.user_name" v-text="item.user_name"></a>
                    </td>
                    <td>
                        <span v-text="item.created_at.toDateTime()"></span>
                    </td>
                    <td v-if="{{__user__.admin}}==1 || (table!='users' && item.user_id=='{{__user__.id}}')">
                        <a v-if="tablename=='blogs'" href="javascript:void(0);" v-on="click: edit_blog(item)"><i class="uk-icon-edit blue"></i>
                        <a href="javascript:void(0)" v-on="click: delete_item(item,page)"><i class="uk-icon-trash-o blue"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination">
            <li v-repeat="pageCode:pageCodes"><a v-class="pageCode==page.page_index?'active':''" href="javascript:void(0);" v-on="click:getItemsByPage(pageCode)" v-text="pageCode"></a></li>
        </ul>


</div>
{% endblock %}
