<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <meta charset="utf-8" />
    <title>注册</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>
<script>


$(function () {
    var re = new Vue({
        el: '#re',
        data: {
            name: '',
            email: '',
            password1: '',
            password2: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#re');
                if (! this.name.trim()) {
                    return showInfo('请输入名字',1);
                }
                if (! validateEmail(this.email.trim().toLowerCase())) {
                    return showInfo('请输入正确的Email地址',1);
                }
                if (this.password1.length < 6) {
                    return showInfo('口令长度至少为6个字符',1);
                }
                if (this.password1 !== this.password2) {
                    return showInfo('两次输入的口令不一致',1);
                }
                var email = this.email.trim().toLowerCase();
                $form.postJSON('/api/register', {
                    name: this.name.trim(),
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.password1).toString()
                }, function (err, r) {
                    if (!err) {
                            return location.assign('/');
                    }
                   
                });
            }
        }
    });
});

</script>

</head>
<body style="height:100%">
        <form id="re" v-on:submit="submit" class="login_d">
               <h2 class="little-big-header">Register!</h2>
                <div class="login_con">
                    <input v-model="name" type="text" maxlength="10" placeholder="名字" class="input1">
                  
                    <input v-model="email" type="text" maxlength="50" placeholder="yourname@gmail.com" class="input1">
 
                    <input v-model="password1" type="password" maxlength="16" placeholder="输入口令" class="input1">
              
                    <input v-model="password2" type="password" maxlength="16" placeholder="重复口令" class="input2">
            </div>
            <div class="login_con" style="background:none;">
                <button type="submit" class="blue_button">注册</button>
            </div>
            <div class="login_con" style="background:none;">
            <a id="register_a" href="/">不想注册，回首页。</a>
        </form>
</body>
</html>
