{% extends '__base__.html' %}

{% block title %}设置{% endblock %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/jquery.Jcrop.min.css" type="text/css" />
<script src="/static/js/upload.js"></script>
<script src="/static/js/jquery.Jcrop.min.js"></script>
<style type="text/css">
    #headphotobox{
        min-height:600px;
        min-width: 800px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff; 
    }
    #headphoto{
        height: auto;
        width: auto;
    }
</style>
<script>
$(function () {
    var headValues={};
    var editor = new wangEditor('headphotobox');
            editor.config.menuFixed = false;
            editor.config.uploadImgUrl = '/api/upload';
            editor.config.uploadImgFileName='dialoguePhoto';
            editor.config.menus = [
        'img'
    ];    editor.config.uploadImgFns.onload = function (resultText, xhr) {
        editor.clear();
        var originalName = editor.uploadImgOriginalName || '';  
        headValues['url']=resultText;
        editor.command(null, 'insertHtml', '<img id="headphoto" src="' + resultText + '" alt="' + originalName + '" style="max-width:100%;"/>');
           var $cropimg=$("#headphoto");
     $cropimg.Jcrop({
    aspectRatio:1,
      onChange:   getphotoValues,
      onSelect:   getphotoValues  
    },function(){
      jcrop_api = this;
    });
     
function getphotoValues(c){
headValues['x']=c.x;
headValues['y']=c.y;
headValues['x2']=c.x2;
headValues['y2']=c.y2;
headValues['w']=$("#headphoto").width();
headValues['h']=$("#headphoto").height();
console.log('x:'+c.x+' y:'+c.y+' x1:'+c.x2+' y1:'+c.y2+' w:'+c.w+' h:'+c.h+' hh:'+$("#headphoto").height());
}
    };
                editor.create();
  $('#uploadhead button').click(function(){
    if(headValues['w']==undefined || headValues['h']==undefined){
        showInfo('请拉动鼠标选择作为头像的区域',2)
        return
    }
    that=this;
     postJSON('/upload/headphoto',{headValues:headValues},function(err,r){
        if(err){
            showInfo(err);
        }
        else if(r.message==1){
            $(that).text('上传成功,重新上传？');
        }
     });
  });

	if(!'{{__user__.id}}'){
        window.location.replace('/');
    }
    var activeNav= new Vue({
        el:'.setsubnav',data:{
            state:1
        },ready:function(){
            this.change("#base");
        },methods:{
            change:function(s,n) {
                        $(".setting").find('.toggle').hide();
                        // editor.$txt.hide();
                        $('.wangEditor-container').hide();
                        $(s).show(); 
                        this.state=n; 
                        if(n==3){
                            $('.wangEditor-container').show();
                        }
                         
                }
        }
    });
var pw = new Vue({
        el: '#pw',
        data: {
        	oldPassword:'',
        	newPassword1:'',
        	newPassword2:''
    	},
        methods: {
            submit: function (event) {
            	that=this;
                event.preventDefault();
                var $form = $('#pw');
                if (! this.oldPassword.trim()) {
                    return showInfo('请输入旧密码',1);
                }
                if (this.oldPassword.length<6 || this.newPassword1.length<6) {
                	return showInfo('密码必须大于6位',1);
                }
                if (this.newPassword1 !== this.newPassword2) {
                    return showInfo('两次输入的口令不一致',1);
                }

                $form.postJSON('/api/setting/password', 
                	{
                	email:'{{__user__.email}}',
                	passwd: CryptoJS.SHA1('{{__user__.email}}' + ':' + that.oldPassword).toString(),
                	newPassword: CryptoJS.SHA1('{{__user__.email}}' + ':' + that.newPassword1).toString()
                	}, 
                	function (err, r) {
                    if (!err) {
                        location.replace('/signout')
                    }
                });
            	}
        	}
        });

    });


</script>

{% endblock %}

{% block content %}

	<div class="setting">
	<div class="subnav setsubnav">
		<ul>
    		<li><a :class="state==1?'active':''" v-on:click="change('#base',1)">基本设置</a></li>
    		<li><a :class="state==2?'active':''" v-on:click="change('#pw',2)">修改密码</a></li>
            <li><a :class="state==3?'active':''" v-on:click="change('#uploadhead',3)">上传头像</a></li>	
		</ul>
    </div>
    <div>

		<form id="base" v-on:submit="submit" class="formstyle1 toggle">
                <div class="box">
                    <input class="input1" v-model="name" type="text" maxlength="16" placeholder="{{__user__.name}}">
                    <input class="input2" v-model="email" type="text" maxlength="16" placeholder="{{__user__.email}}">
        		</div>	
        <div class="box">
        <button type="submit" class="blue_button">更改</button>	
        </div>  
        </form>       		
	
	<form id="pw" v-on:submit="submit" class="formstyle1 toggle" enctype="multipart/form-data">   
                <div class="box">
                    <input v-model="oldPassword" type="password" maxlength="16" placeholder="旧密码" class="input1">

                	<input v-model="newPassword1" type="password" maxlength="16" placeholder="输入新密码" class="input1">	
                    <input v-model="newPassword2" type="password" maxlength="16" placeholder="再次输入" class="input2">	
                </div>
            <div class="buttonbox">
                <button class="button" type="submit">修改
                </button>
                <a href="/manage/blogs" class="whitebutton">取消</a>
            </div>
    </form>

 <!-- <form id="uploadForm" action="/api/upload" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                    <div id="uploadbox" class="upload_box">
                        <div class="upload_main">
                            <div class="upload_choose">
                                <input id="fileImage" accept="image/*" type="file" size="30" name="fileselect[]" multiple="">
                                <div id="fileDragArea" class="upload_drag_area upload_preview">或者将图片拖到此处</div>
                            <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
                            </div>
                           
                        </div>
                        <div class="buttonbox">
                          <label class="button button_primary" for="fileImage">选择文件</label>  
                          <button class="button button_primary" type="button" id="fileSubmit">上传图片</button>   
                        </div>
                        <div id="uploadInf" class="upload_inf"></div>
                    </div>
                </form>   -->
                <div class="toggle box" id="uploadhead">
                <div id="headphotobox"><p>请拉取合适区域作为头像...</p></div> 
                <button class="blue_button">上传头像</button>
                </div>
               
    </div>
</div>
{% endblock %}