{% extends '__base__.html' %}

{% block title %}设置{% endblock %}

{% block beforehead %}

<script>
$(function () {
	if(!{{__user__}}){
        window.location.replace('/');
    }
var pw = new Vue({
        el: '#pw',
        data: {
        	oldPassword:'',
        	newPassword1:'',
        	newPassword2:''
    	},
        methods: {
            submit: function (event) {
            	that=this;
                event.preventDefault();
                var $form = $('#pw');
                if (! this.oldPassword.trim()) {
                    return $form.showFormError('请输入旧密码');
                }
                if (this.oldPassword.length<6 || this.newPassword1.length<6) {
                	return $form.showFormError('密码必须大于6位');
                }
                if (this.newPassword1 !== this.newPassword2) {
                    return $form.showFormError('两次输入的口令不一致');
                }

                $form.postJSON('/api/setting/password', 
                	{
                	email:'{{__user__.email}}',
                	passwd: CryptoJS.SHA1('{{__user__.email}}' + ':' + that.oldPassword).toString(),
                	newPassword: CryptoJS.SHA1('{{__user__.email}}' + ':' + that.newPassword1).toString()
                	}, 
                	function (err, r) {
                    if (err) {
                        $form.showFormError(err);
                    }
                    else{
                    	location.replace('/signout')
                    }

                });
            	}
        	}
        })
    });

</script>

{% endblock %}

{% block content %}

		<h4>设置</h4>
	<div class="uk-text-center uk-width-1-1">
	<div class="uk-tab-center .uk-width-medium-*">
		<ul class="uk-tab" data-uk-tab="{connect:'#set'}">
    		<li class="uk-active"><a href="#base">基本设置</a></li>
    		<li><a href="#pw">修改密码</a></li>
    		<li><a href="">个人资料</a></li>
    		<li class="uk-disabled"><a href="">...</a></li>
		</ul>
    </div>
    <div class=".uk-width-medium-*">
        <ul id='set' class="uk-switcher">
		<li class="uk-width-1-3 uk-container-center">
		<form id="jb" v-on="submit: submit" class="uk-form uk-form-stacked">
		<div class="uk-form-row">
		<label class="uk-form-label uk-position-top-left">昵称: </label>
                <div class="uk-form-controls">
                    <input v-model="name" type="text" maxlength="16" value="{{__user__.name}}" class="uk-width-1-1">
                </div>	
        </div>
		<div class="uk-form-row">
		<label class="uk-form-label uk-position-top-left">邮箱: </label>
                <div class="uk-form-controls">
                    <input v-model="email" type="text" maxlength="16" value="{{__user__.email}}" class="uk-width-1-1">
        		</div>	
        </div>	
        <div class="uk-form-row">
        <button type="submit" class="uk-button uk-button-primary">更改</button>	
        </div>  
        </form>       		
		</li> 
		<li class="uk-width-1-3 uk-container-center">
	<form id="pw" v-on="submit: submit" class="uk-form uk-form-stacked  uk-container-center">
        <div class="uk-alert uk-alert-danger uk-hidden"></div> 
            <div class="uk-form-row">
                <label class="uk-form-label">旧密码: </label>
                <div class="uk-form-controls">
                    <input v-model="oldPassword" type="password" maxlength="16" placeholder="旧密码" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">新密码:</label>
                <div class="uk-form-controls">
                	<input v-model="newPassword1" type="password" maxlength="16" placeholder="输入新密码" class="uk-width-1-1">	
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">再次输入:</label>
                <div class="uk-form-controls">
                    <input v-model="newPassword2" type="password" maxlength="16" placeholder="再次输入" class="uk-width-1-1">	
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 修改</button>
                <a href="/manage/blogs" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
    </form>
		</li> 
		</ul>
    </div>
</div>
{% endblock %}