{% extends '__base__.html' %}

{% block title %}{{user.name}}的博客{% endblock %}

{% block beforehead %}

<script>
$(function () {
    $('#vm').show();
  var lastName=parsePath(location.pathname);
var itemslist = new Vue({
    el:'.bloglist',
    data:{
        lastName:lastName
    }
});
var userinfobox  = new Vue({
      el:'#vm',
      data:{
        followstate:{{user.followstate}},
        page:''
      },
      methods:{

        followuser: function(){
            if ('{{__user__.name}}' && '{{ user.id }}' != '{{ __user__.id }}') {
                var $focusButton =$('#focusButton');
                    $focusButton.addClass('disabled');
                that=this;
                postJSON('/api/follow',{
                    ownerId:'{{ user.id }}' ,
                    ownerName:'{{ user.name }}'
                },function(err,r){
                    if (!err) {
                            that.followstate=r.followstate;
                            $focusButton.removeClass('disabled');
                           
                    }
                })
            }
        }
      }
});
var pagination=new Vue({
    el:".pagination2",
    data:{
    pageCodes:getPageCodes('{{page.page_index}}','{{page.page_count}}')
    },
    methods:{
        gotoPage:function(pageCode){
            if(pageCode=='{{page.page_index}}'){
                return;
            }
            gotoPage(pageCode);
        }
    }
});

Vue.component('focusone',{
    // el:function(){
    //    return '#'+this.userid;
    // },
    data:function(){
         return {
            followstate2:this.followstate
         }
        },
        computed:{
            showtext:function(){
                if(this.followstate2==1){
                    return '取消关注'
                }
                else{
                    return '关注'
                }
            }
            // dobu:function(){
            //     if(this.followstate2==1){
            //         return true
            //     }
            //     else{return false}
            // }
        },
    props:['userid','username','followstate'],
    // followstate2==0 ,followstate2==1 ,判断语句要像这样写完整
    template:'<div class="focusbutts" :class="{dobutton:followstate2==0 ,undobutton:followstate2==1}"  v-on:click="focussomebody" v-text="showtext"></div>',
    methods:{
        focussomebody:function(event){
                if ('{{__user__.name}}' && this.userid != '{{ __user__.id }}') {
                    $(event.target).addClass('disabled'); 
                    that=this;
                    postJSON('/api/follow',{
                        ownerId:that.userid ,
                        ownerName:that.username
                    },function(err,r){    
                    $(event.target).removeClass('disabled');
                    if(err){
                        showInfo(err);
                    }
                    else{
                        that.followstate2=r.followstate;    
                        }
                    });
                }
        }
    }
});
var followlist = new Vue({
  el: '.userslist',
  data:{items:[]}
}); 
//  {% if followings %}
// followlist.items = {{followings}}
//  {% endif %}
//   {% if followers %}
// followlist.items = {{followers}}
//  {% endif %}
});
</script>

{% endblock %}

{% block content %}
<div class="ablog">
<div class="userbox" id="vm">
<div id="follownumbox">
           <div>
           <a href="/user/{{user.name}}/following" class="rightline">
           <div class="num">{{user.following_num}}</div>
           <span>关注</span>
           </a>
           </div>
           <div>
           <a href="/user/{{user.name}}/follower">
           <div class="num">{{user.follower_num}}</div>
           <span>粉丝</span>
           </a>
           </div>
</div>
    <a href="/user/{{user.name}}"><img width="120" class="round" height="120" src="{{ user.image }}"></a>
    <h2>{{ user.name }}</h2>
    <button v-on:click="followuser" v-if="'{{ __user__.id }}' &&'{{ user.id }}' != '{{ __user__.id }}'" id="focusButton" :class="followstate?'undobutton':'dobutton'" v-text="followstate?'取关':'关注'"></botton>   
</div>
<div class="bloglist">

                <div class="title" v-if="lastName=='follower'">粉丝列表</div>
                <div class="title" v-if="lastName=='following'">关注列表</div>
                <div class="title" v-if="lastName!='follower'&&lastName!='following'">文章列表</div>

<ul class="articlelist">
    {% for blog in blogs %}
        <li>
            <h2>
            	<a href="/blog/{{ blog.id }}">
            		{{ blog.name }}
            	</a>
            </h2>
            <div>
            	<span class="fragment smarttime">{{ blog.created_at|datetime }}</span>
            	<span class="fragment">阅读<span class="num">{{blog.read_num}}</span></span>
            	<span class="fragment">喜欢<span class="num">{{blog.like_num}}</span></span>
                <span class="fragment">评论<span class="num">{{blog.review_num}}</span></span>
            </div>
        </li>
        <hr class="uk-article-divider">
    {% endfor %}
</ul>
    <ul class="userslist">
{% for follow in followings %}
        <li class="oneuser">
        <div style="display:flex">
             <a href="/user/{{follow.name}}"><img class="round" width="50" height="50" src="{{follow.image}}"></a>
        <div class="infobox">                      
                <a href="/user/{{follow.name}}">
                    {{ follow.name }}
                </a>  
            <div>
               <a href="/user/{{follow.name}}/follower"><span class="fragment">粉丝<span class="num">{{follow.follower_num}}</span></span></a> 
                <a href="/user/{{follow.name}}/following"><span class="fragment">关注<span class="num">{{follow.following_num}}</span></span></a>
            </div>
        </div>
        </div>
       <div is="focusone" userid="{{follow.id}}" username="{{follow.name}}" followstate="{{follow.followstate}}"></div>  
       <!-- html有些标签有严格规定只能嵌入某些标签  -->      
       </li>
{% endfor %}
{% for follow in followers %}
        <li class="oneuser">
        <div style="display:flex">
             <a href="/user/{{follow.name}}"><img class="round" width="50" height="50" src="{{follow.image}}"></a>
        <div class="infobox">                      
                <a href="/user/{{follow.name}}">
                    {{ follow.name }}
                </a>  
            <div>
               <a href="/user/{{follow.name}}/follower"><span class="fragment">粉丝<span class="num">{{follow.follower_num}}</span></span></a> 
                <a href="/user/{{follow.name}}/following"><span class="fragment">关注<span class="num">{{follow.following_num}}</span></span></a>
            </div>
        </div>
        </div>       
         <div is="focusone"  userid="{{follow.id}}" username="{{follow.name}}" followstate="{{follow.followstate}}"></div>  
       <!-- html有些标签有严格规定只能嵌入某些标签  -->      
       </li>
{% endfor %}
</ul>


</div>
<div class="pagebox">
        <ul class="pagination2">
            <li v-for="pageCode in pageCodes"><a :class="pageCode=={{page.page_index}}?'active':''" href="javascript:void(0)" v-on:click="gotoPage(pageCode)" v-text="pageCode"></a></li>
        </ul>
</div> 

</div>
{% endblock %}