{% extends '__base__.html' %}

{% block title %}{{user.name}}的博客{% endblock %}

{% block beforehead %}

<script>
$(function () {
    $('#vm').show();
var vm  = new Vue({
      el:'#vm',
      data:{
        message:''
      },
      ready: function(){
                this.followuser('check');
        },
      methods:{
        
        followuser: function(str){
            if ('{{__user__.name}}' && '{{ user.id }}' != '{{ __user__.id }}') {
                var $focusButton =$('#focusButton');
                    $focusButton.addClass('disabled');
                var $vm = $('#vm');
                that=this;
                postJSON('/api/follow',{
                    ownerid:'{{ user.id }}' ,
                    state:str
                },function(err,r){
                    if (!err) {
                            that.message=r.message;
                            $focusButton.removeClass('disabled');
                    }
                })
            }
        }
      }
});
var pagination=new Vue({el:".pagination2",data:{
    pageCodes:getPageCodes('{{page.page_index}}','{{page.page_count}}')},methods:{gotoPage:function(pageCode){
        if(pageCode=='{{page.page_index}}'){
            return;
        }
        gotoPage(pageCode);
    }
}
});
});
</script>

{% endblock %}

{% block content %}
<div class="ablog">
<div class="userbox" id="vm">
        
            <img width="120" class="round" height="120" src="{{ user.image }}">
            <h2>{{ user.name }}</h2>
            <button v-on="click: followuser('change')" v-if="'{{ user.id }}' != '{{ __user__.id }}'" id="focusButton" v-class="message?'undobutton':'dobutton'" v-text="message?'取关':'关注'"></botton>
<!--             <div id="follownumbox">
           <div><a><p>关注</p><p>11</p></a></div>
           <div><a><p>粉丝</p><p>13</p></a></div>
           </div> -->
       
</div>
<div class="bloglist">
<div class="uk-article-title">
			<ul class="uk-breadcrumb">
                <li class="title">文章列表</li>
            </ul> 
</div>

    {% for blog in blogs %}
        <article>
            <h2>
            	<a href="/blog/{{ blog.id }}">
            		{{ blog.name }}
            	</a>
            </h2>
            <div>
            	<span class="fragment smarttime">{{ blog.created_at|datetime }}</span>
            	<span class="fragment">阅读<span class="num">{{blog.read_num}}</span></span>
            	<span class="fragment">喜欢<span class="num">{{blog.like_num}}</span></span>
            </div>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    <!-- {{ pagination('/?page=', page) }} -->
    <ul class="pagination2">
            <li v-repeat="pageCode:pageCodes"><a v-class="pageCode=={{page.page_index}}?'active':''" href="javascript:void(0)" v-on="click:gotoPage(pageCode)" v-text="pageCode"></a></li>
        </ul>
</div>


</div>
{% endblock %}