{% extends '__base__.html' %}

{% block title %}{{user.name}}的博客{% endblock %}

{% block beforehead %}

<script>
$(function () {
    $('#vm').show();
var lastName=parsePath(location.pathname);
var itemslist = new Vue({
    el:'.bloglist',
    data:{
        lastName:lastName,
        pageCodes:[],
        page:{}
    },
    ready:function(){
        this.page.page_index='{{page.page_index}}';
        this.page.page_count='{{page.page_count}}';
        this.getPageCodes('{{page.page_index}}','{{page.page_count}}');
    },
    methods:{
        gotoPage:function(pageCode){
        if(pageCode==this.page.page_index){
            return;
        }
        gotoPage(pageCode);
        },
        getPageCodes: function(index,count) {
            this.pageCodes=getPageCodes(index,count);
            },
        getarticles:function(page){
            getJSON('/getarticles',{id:'{{user.id}}',page:page},function(err){
                if(err){showInfo(err)}
                else{
                    that.page=r.page;
                    that.articles=r.articles;
                }
            })
        }
    }
});
var userinfobox  = new Vue({
      el:'#vm',
      data:{
        followstate:{%if __user__.name%}{{user.followstate}}{%else%}''{%endif%},
        userid:'{{user.id}}',
        gender:{% if user.gender==1 or user.gender==0 %}{{user.gender}} {%else%} ''{%endif%},
        age:{% if user.age %}{{user.age}} {%else%} ''{%endif%},
        address:{% if user.address %}'{{user.address}}' {%else%} '' {%endif%}
      },
      methods:{
      
        followuser: function(){
            if ('{{__user__.name}}' && '{{ user.id }}' != '{{ __user__.id }}') {
                var $focusButton =$('#focusButton');
                    $focusButton.addClass('disabled');
                that=this;
                postJSON('/api/follow',{
                    ownerId:'{{ user.id }}' ,
                    ownerName:'{{ user.name }}'
                },function(err,r){
                    if (!err) {
                            that.followstate=r.followstate;
                            $focusButton.removeClass('disabled');
                           
                    }
                })
            }
        }
      }
});

Vue.component('focusone',{
    // el:function(){
    //    return '#'+this.userid;
    // },
    data:function(){
         return {
            followstate2:this.followstate
         }
        },
        computed:{
            showtext:function(){
                if(this.followstate2==1){
                    return '取消关注'
                }
                else{
                    return '关注'
                }
            }
        },
    props:['userid','username','followstate'],
    // followstate2==0 ,followstate2==1 ,判断语句要像这样写完整
    template:'<div class="focusbutts" :class="{dobutton:followstate2==0 ,undobutton:followstate2==1}"  v-on:click="focussomebody" v-text="showtext"></div>',
    methods:{
        focussomebody:function(event){
                if ('{{__user__.name}}' && this.userid != '{{ __user__.id }}') {
                    $(event.target).addClass('disabled'); 
                    that=this;
                    postJSON('/api/follow',{
                        ownerId:that.userid ,
                        ownerName:that.username
                    },function(err,r){    
                    $(event.target).removeClass('disabled');
                    if(err){
                        showInfo(err);
                    }
                    else{
                        that.followstate2=r.followstate;    
                        }
                    });
                }
        }
    }
});
var userli = new Vue({el:'.userslist'});

var tags =new Vue({
    el:'.tagbox',
    data:{tags:[],tagnum:0},
    ready:function(){
        {% for tag in tags %}
        this.tags.push({name:'{{tag.name}}',num:'{{tag.num}}'});
        {%endfor%}
        this.tagnum=this.tags.length;
        }
    ,
    methods:{
        deletetag:function(tag){
            that=this;
            getJSON('/api/{{user.name}}/tag/'+tag.name+'/delete',function(err,r){
                if(err){
                    showInfo(err)
                }
                    else if(r.message==1){
                        that.tags.$remove(tag);
                        that.tagnum--;
                    }
            });
        }
    }
});




});
</script>

{% endblock %}

{% block content %}
<div class="ablog">
<div class="userbox" id="vm">
<div id="follownumbox">
 <div>
           <a href="/user/{{user.name}}/following" class="rightline">
           <div class="num">{{user.following_num}}</div>
           <span>关注</span>
           </a>
 </div>
<div>
           <a href="/user/{{user.name}}/follower">
           <div class="num">{{user.follower_num}}</div>
           <span>粉丝</span>
           </a>
</div>
</div>
    <a target="_blank" href="/user/{{user.name}}"><img width="120" class="round" height="120" src="{{ user.image }}"></a>
    <h2>{{ user.name }} <span v-if="gender==1"><i class="fa fa-male blue"></i></span><span v-if="gender===0"><i class="fa fa-female red"></i></span></h2><div class="basebox"><span v-if="age" v-text="'年龄：'+age"></span> <span v-if="address" v-text="'所在地：'+address"></span></div>
    <button v-on:click="followuser" v-if="'{{ __user__.id }}' &&'{{ user.id }}' != '{{ __user__.id }}'" id="focusButton" :class="followstate?'undobutton':'dobutton'" v-text="followstate?'取关':'关注'"></botton>   
</div>
<div class="bloglist">
<div>
                <div class="title" v-if="lastName=='follower'">粉丝列表</div>
                <div class="title" v-if="lastName=='following'">关注列表</div>
                <div class="title" v-if="lastName!='follower'&&lastName!='following'">文章列表</div>
{% if blogs %}
<ul class="articlelist">
    {% for blog in blogs %}
        <li>
            <h2>
            	<a  target="_blank" href="/blog/{{ blog.id }}">
            		{{ blog.name }}
            	</a>
            </h2>
            <div>
            	<span class="fragment smarttime">{{ blog.created_at|datetime }}</span>
            	<span class="fragment">阅读<span class="num">{{blog.read_num}}</span></span>
            	<span class="fragment">喜欢<span class="num">{{blog.like_num}}</span></span>
                <span class="fragment">评论<span class="num">{{blog.review_num}}</span></span>
            </div>
        </li>
        <hr class="uk-article-divider">
    {% endfor %}

</ul>
{% endif %}


    <ul class="userslist">
{% for follow in followings %}
        <li class="oneuser">
        <div style="display:flex">
             <a href="/user/{{follow.name}}"><img class="round" width="50" height="50" src="{{follow.image}}"></a>
        <div class="infobox">                      
                <a href="/user/{{follow.name}}">
                    {{ follow.name }}
                </a>  
            <div>
               <a href="/user/{{follow.name}}/follower"><span class="fragment">粉丝<span class="num">{{follow.follower_num}}</span></span></a> 
                <a href="/user/{{follow.name}}/following"><span class="fragment">关注<span class="num">{{follow.following_num}}</span></span></a>
            </div>
        </div>
        </div>
       <div is="focusone" userid="{{follow.id}}" v-if="'{{__user__.name}}'" username="{{follow.name}}" followstate="{{follow.followstate}}"></div>  
       <!-- html有些标签有严格规定只能嵌入某些标签  -->      
       </li>
{% endfor %}

{% for follow in followers %}
        <li class="oneuser">
        <div style="display:flex">
             <a href="/user/{{follow.name}}"><img class="round" width="50" height="50" src="{{follow.image}}"></a>
        <div class="infobox">                      
                <a href="/user/{{follow.name}}">
                    {{ follow.name }}
                </a>  
            <div>
               <a href="/user/{{follow.name}}/follower"><span class="fragment">粉丝<span class="num">{{follow.follower_num}}</span></span></a> 
                <a href="/user/{{follow.name}}/following"><span class="fragment">关注<span class="num">{{follow.following_num}}</span></span></a>
            </div>
        </div>
        </div>       
         <div is="focusone" v-if="'{{__user__.name}}'" userid="{{follow.id}}" username="{{follow.name}}" followstate="{{follow.followstate}}"></div>  
       <!-- html有些标签有严格规定只能嵌入某些标签  -->      
       </li>
{% endfor %}
  
</ul>
</div>
     <ul class="pagination5">
            <li v-for="pageCode in pageCodes"><a :class="pageCode==page.page_index?'active':''" href="javascript:void(0)" v-on:click="gotoPage(pageCode)" v-text="pageCode"></a></li>
    </ul>  
</div>
<div class="tagbox">
    <ul v-if="tagnum" class="tagslist">
<li class="taghead"><span><i class="fa fa-tags"></i><span>标签  </span></span></li>
<li v-for="tag in tags">
<span><i class="fa fa-tag"></i>
<a :href="'/user/{{user.name}}/tag/'+tag.name"><span class="tag" v-text="tag.name"></span></a><span v-text="'('+tag.num+')'"></span></span>
<i v-if="'{{user.id}}'=='{{__user__.id}}'" v-on:click="deletetag(tag)" class="fa fa-times"></i>
</li>
</ul>
</div>
</div>

{% endblock %}