
body{
background:url(low_contrast_linen.png);
background-size: 256px 256px;
background-color: rgba(25,25,25,0.9);
background-repeat:repeat;
}
html,body {
	font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Georgia',"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑","WenQuanYi Micro Hei", sans-serif;
    outline: none;
}
ul{
  padding: 0;
}
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin: 15px 0;
    color: #fefefe;

}
#error {
    display: none;
    margin-bottom: 15px;
}
a.disabled,button.disabled {
    pointer-events: none;
    background-color: #0D0D0D;
}
.unvisiable {
	visibility: hidden;
}

.alert_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: black;
    filter: alpha(opacity:30);
    opacity: 0.3;
}
.confirm_con {
    position: fixed;
    font-size: 14px;
    top: 0px;
    left: 50%;
    width: 440px;
    z-index: 100;
    margin-left: -220px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    /* box-shadow: 0px 1px 1px #ddd; */
}
.alert_con {
    font-size: 15px;
    top: 0;
    width: 400px;
    padding: 20px 20px;
    text-align: center;
    color: #222224;
    filter: alpha(opacity:50);
}

.little-big-header {
    font-size: 4.5rem;
    font-weight: bold;
    color: #00A5E2;
}

.login_con {
    margin-top: 50px;
    width: 100%;
    background: #fff;
    border-radius: 3px;
}

.input {
display: block;
    background: none;
    border: 0;
    padding: 15px 10px;
    color: #222;
}
.input1 {
    width: 360px;
    background: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
    color: #222;
}
.input2 {
    width: 360px;
    background: none;
    border: 0;
    padding: 15px 10px;
    color: #222;
}
.login_d {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    text-align: center;
}
.button_primary{
    cursor: pointer;
    background: #0099E2;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 15px 10px;
}
.blue_button {
    cursor: pointer;
    width: 400px;
    background: #0099E2;
    color: #fff;
    border-radius: 3px;
    border: 0;
    padding: 15px 10px;
}
.borderbutton{
    cursor: pointer;
    width: 100px;
    background: none;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    border: 2px solid #fefefe;
    padding: 7px 10px;
}
.borderbutton:hover{
  background-color: #fefefe;
  color: #011122;
}
.borderbutton .active{
  background-color: #fefefe;
  color: #011122;
}
.agreebutton {
  width: 50px;
}
.circlebutton{
  cursor: pointer;
margin:0 1em;
    background: #fff;
    color: #191919;
    border-radius: 50%;
    padding: 11px 13px;
}
.circlebutton:hover{
    background-color: #00A5E2;
  color: #fff;
}
.blue_button:hover {
  background: #00A5E2;
}
.recbutton{
  padding: 0.4em 2em;
  color: #fff;
  font-size: 14px;
  border: 2px solid #393939;
  background-color: #393939;
}
.recbutton:hover{
  background: none;
  color:#0b0b0b;
}

.fa-comments{
  margin-right: 0.5em;
}
#register_a:hover {
  color: #00A5E2;
}

.header-chunk {
  box-sizing: border-box;
color: #00A5E2;
font-size: 30px;
font-family: Georgia;
font-weight: 500;
height: 65px;
line-height: 65px;
margin-right: 207px;
padding-left: 40px;
position: relative;
max-width: 500px;
z-index: 1;

}

.secondary-primary-nav {
color: #FFF;
display: block;
font-family: "lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","WenQuanYi Micro Hei",sans-serif;
font-size: 15px;
font-weight: 300;
position: relative;
}

.main-header {
display: flex;display: -webkit-flex;
background-color: #111;
box-sizing: border-box;
color: #FFF;
font-size: 12px;
font-weight: 400;
height: 65px;
line-height: 65px;
position: relative;

}

.header-chunk:hover{
  color:#ffffff; 
  cursor: pointer;
}

.nav-button{
color: #FFF;
font-size: 12px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: -4px;
text-align: center;
box-sizing: border-box;
color: rgb(255, 255, 255);
display: inline-block;
font-family: "Lato","Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif;
font-size: 15px;
font-weight: 250;
line-height: 65px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
position: relative;
text-decoration: none;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
white-space: normal;
}
.nav-button a {
  color: #fff;
    display: block;
    padding: 0px 30px;
}
.nav-button a:hover{
  color: #fff;
}
.nav-element {
  height: 65px;
  line-height: 65px;
}

.user-stuff {
display: inline-block;
font-size: 15px;
}

.base-bottom {
  margin-top: 50px; 
  text-align: center;
  position: relative;
  background-color: #0F0F0F;
  margin-bottom: 0;
  width: 100%;
  max-height: 300px;
  padding: 50px 0;
  bottom: 0;
}
.base-bottom p {
  margin:2em 0;
}
a.bottomtext{
  color: #07AFE2;
  margin:0 0.3em;
}
a.bottomtext:hover{
  color: #07FFFF;
}
/*主体容器*/
.container{
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}
/*博文盒*/
.blogsbox {
width: 800px;
min-height: 600px;
padding-top: 150px;
}
/* All */


.userhead{  
  width: 100%;
  height: 100%;
  background-color: none;


}
.hoverline:hover:after {
    background-color: #00A5E2;
   height: 4px;
   width: 100%;
   bottom: 0;
   content: "";
   left: 0;
   position: absolute;
}
.blueactive:after {
    background-color: #00A5E2;
   height: 4px;
   width: 100%;
   bottom: 0;
   content: "";
   left: 0;
   position: absolute;
}
.ahover1{
   background-color: none;
   color: #fff;
   width: auto;
   height: auto;
   padding: 20px;
   position: relative;
}
.ahover1:hover{
  border-radius: 0.3em;
  background-color: #00A5E2;
  color: #f0f0f0;
}
.nav {
position: absolute;
right: 0;
}

.nav > ul {
  *zoom: 1;
  list-style: none;
display: flex;
justify-content: flex-end;
border-radius: 0.5em;

}

.nav ul:after {
  clear: both;
}
.nav ul > li { 
font-size: 15px;
vertical-align: center;
max-height: 65px;
background-color: none;
}

.nav li ul li {
  width: 180px;

}
.nav li ul li a {
  border: none;
  padding:0 2em;
  outline: none;
  margin: 0;
    background: #0D0D0D;
  display: block;
  color: #fff;
}
.nav li ul a:hover {
  background: #545456;
  text-decoration: none;
}
.nav1{
  margin-right: 0.4em;
}
.nav1 ul > li:hover ul {
  display: block;
  border-radius: 0 0 3px 3px;
}
.nav1 li ul {
  position: absolute;
margin: 0;
  display: none;
  right: 0;
  z-index: 1;
  float: none;
}
/*副标题*/
.subnav{
color: #FFF;
font-size: 15px;
font-weight: 300;
position: relative;
border-bottom: 2px solid #fff;
margin-bottom: 50px;

}
.subnav ul{
  padding: 0;
  margin: 0;
  outline: none;
}
.subnav li{
text-align: center;
display: inline-block;
font-weight: 250;
position: relative;
  margin: 0;
  outline: none;
}
.subnav li.active{
  background-color: #fdfdfd;
  color: 1c1c1c;
}
.subnav li.active a{
  color:  1c1c1c;
}
.subnav li a{
  color: #fff;
  padding: 15px 30px;
  height: 45px;
  line-height: 45px;
  border-top-left-radius: 0.1em 0.1em;
border-top-right-radius: 0.1em 0.1em;
}
.subnav li a:hover{
  color: #888888;
}
.subnav a.active{
  background-color: #fff;
  color: #000;
  height: 45px; 
  line-height: 45px;
}

.articlebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  padding: 30px 0px;
  border-bottom: 1px dashed #bbbbbb ;
}
.articles{
  background-color: #fdfdfd;
  color: #0f0f0f;
  padding:0 30px;
  border-radius: 3px;
 min-height: 600px;
   -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        box-shadow: 0 5px 12px rgba(0,0,0,.4); 
}
.articlebox h2 {
  font-size: 18px;
   max-width: 600px;
   word-wrap:break-word; 
 word-break: break-all;     /*使英文也换行*/
  font-weight: bold;
}
.articlebox h2 a{
  color: #000111;
  transition: color 0.2s;
}
.articlebox h2 a:hover{
  color: #E32D40;
}
a:hover{
  color: #E32D40;
}
.articlebox .time{
  font-size: 12px;
    color: #999;
  font-family: "Microsoft YaHei";

}
.articlebox .username{
  font-size: 15px;
}
.articlebox .summary{
  font-size: 16px;
  color: #555555;
  margin: 0;
  max-width: 600px;
   word-wrap:break-word; 
 word-break: break-all;     /*使英文也换行*/
}
.blogimg{
  flex-shrink: 0;
  border:0;
  outline: 0;
  border-radius: 2px;
}
.dialogueall{
  width: 1000px;
  height: 700px;
  display: flex;display: -webkit-flex;
  justify-content: center;
  align-items: space-between;
  margin-top: 150px;
  margin-bottom: 300px;
  position: relative;
  flex-flow:row nowrap;
}
.dialogueall .getandsendbox{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 75%;
  background-color: #1b1b1b;
  position: relative;
  border: 3px solid #1d1d1d;
  border-right: 0;
  border-radius: 1% 0 0 1%; 
}
.dialogueall .opobj{
  min-width: 300px;
  position: relative;
  background-color: #0c0c0c;
  flex: 0 0 25%;
  margin-left: -1px;
}
.opobj ul li{
  display: flex;
  align-items: center;
}

.opobj ul a{
  width: 100%;
  position: relative;
  display: block;
  list-style: none;
  padding: 19.6px 20px;
  color: #fff;
}

.opobj ul a:hover{
 background-color: #0099E2;
}

.opobj a.active{
  background-color: #1b1b1b;
}
ul{
  list-style: none;
}
.sendform{
  width: 100%;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex: 0 0 15%;
}
.sentbutton {
  font-size: 30px;
  cursor: pointer;
  background: #0099E2;
  color: #fff;
  border: 0;
  flex: 0 0 25%;

}
.sentbutton:hover {
  background: #00A5E2;
}
.sendtext{
  flex: 0 0 75%;
  padding: 1em;  /*设置padding，在ie,猎豹浏览器上输入框和按钮的比例不对，暂时不知道解决办法*/
    color: #222;
    resize:none;
  /*  overflow: hidden;*/
    border-radius: 0 0 0 1%; 
    border: 0;
}

.contentbox{
  display: flex;
  display: -webkit-flex;
  flex-direction: column-reverse;
 /* justify-content: flex-end;*/
  height: 50em;
  width: 100%;
  border-bottom: 3px solid #2b2b2b;
  font-size: 17px;
  overflow: auto;
  padding-top: 50px;
}


.mywords{
  font-size: 14px;
  /*display: flex; */
/*  flex-direction: row-reverse;*/
/*  justify-content: flex-start;*/
/* flex-wrap: wrap-reverse;*/
 word-wrap:break-word; 
 word-break: break-all;     /*使英文也换行*/
 /* overflow:hidden;*/
  margin: 0 2em;
  position: relative;
  padding: 0.5em 1em;
  background-color: #fafefc;
  color: #666666;
  border-radius: 1em;
  min-width: 50px;
  text-align: center;
}
.otherwords{
  border-radius: 1em;
  color: #666666;
  background-color: #fafefc;
  padding: 0.5em 1em;
  font-size: 14px;
  word-wrap:break-word; 
  word-break: break-all;     /*使英文也换行*/
 /* overflow:hidden;*/
  margin: 0 2em;
  position: relative;
    min-width: 50px;
  text-align: center;
}
.myname{
 /* padding: 2px 5px;*/
  font-size: 20px;
/*
  border: 0.1em solid #00A5E2;
  border-radius: 0 25% 0 25%;*/
}
.othername{
/*  padding: 2px 5px;*/
  font-size: 20px;
  color: #fff;
/*
  border: 0.1em solid #00A5E2;
  border-radius: 0 25% 0 25% ;*/
}

.shuru {
  position: relative;
  margin: 0;
  width:50em;
  width: 100%;
}
.diatime {
  align-self: center;
  margin-top: 25px;
  text-align: center;
  color: #444444;
  font-size: 11px;
}
.mywordbox{
display: flex;
display: -webkit-flex;
flex-direction: column;
justify-content:flex-end;
color: #fff;
margin:30px 50px;
position: relative;
 flex-shrink:0;
}
.otherwordbox{
display: flex;
display: -webkit-flex;
flex-direction: column;
justify-content:flex-end;
color: #fff;
margin:30px 50px;
position: relative;
 flex-shrink:0;
}
.mywordsandname{
  position: relative;
display: flex;
display: -webkit-flex; 
flex-direction: row-reverse;
-webkit-flex-direction:row-reverse;
position: relative;
justify-content: flex-start;
  align-items: flex-start;

}
.otherwordsandname{position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
 
}
.setting{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  min-height: 600px;
}

.setsubnav a:hover{
   background-color: #fff;
   color: #000;
}
.setsubnav{
  width: 100%;
  margin-top:100px;
}
.input12 {
    width: 760px;
    background: none;
    border: 0;
   /* border-bottom: 1px solid #ccc;*/
    padding:1em 0;
    color: #222;
}
.input22 {
    width: 760px;
    background: none;
    border: 0;
    padding: 15px 20px;
    color: #222;
}
.formstyle1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.formstyle2{
    max-width: 800px;
   position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.formstyle2 .box{
  max-width: 800px;
  margin-bottom: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
background-color: #f3f3f3;
    align-items: center;
}
.formstyle1 .box {
    margin: 50px 0;
    width: 100%;
    background: #fff;
    border-radius: 3px;
}
.buttonbox{
  text-align: center;
  display: flex;
  width: 100%;
  margin-top: 50px;
}
.buttonbox .button{
    flex: 0 0 50%;
    cursor: pointer;
    position: relative;
    background: #0B9AD3;
    color: #fefefe;
    border: 0;
    text-align: center;
    padding: 15px 0;

}
.buttonbox .button:hover{
  background-color: #1DBAF0;
}
.whitebutton{
    flex: 0 0 50%;
    text-align: center;
    cursor: pointer;
position: relative;
background: #f1f1f1;
    color: #1c1c1c;
   padding: 15px 0;
    border: 0;

}
.dobutton{
  font-size: 13px;
  flex: 0 0 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
  background: none;
  color: rgba(232,16,16,0.8);
  padding: 5px 5px;
  border: 2px solid #a43424; 
  border-radius:50px;
  width: 100px;
}
.dobutton:hover{
  color: #fff;
  background-color: #a43424;
}
.undobutton{
  font-size: 13px;
  flex: 0 0 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
  background: rgba(232,16,16,0.8);
  color: #fff;
  padding: 5px 5px;
  border: 2px solid rgba(232,16,16,0.8); 
  border-radius:50px;
  width: 100px;
}
.undobutton:hover{
  color: rgba(232,16,16,0.8);
  background: none;
}
.addbutton{
  position: relative;
  margin-top: 50px;
    width: 100%;
padding: 10px 0;
    border-radius: 3px;

}

.managecontainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1000px;
  margin-top: 150px;
}
.optable{

margin-top: 3rem;
  position: relative;
  background-color: #ffffff;
  font-size: 14px;
   font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB";
}
.optable thead tr th{
  color: #012013;
}
.optable thead tr{
  border-bottom: 2px solid #212321;

}

.optable td{
  padding: 20px 30px;
  border: 0;
}
.optable tbody tr td a{
  color: #444;
}
.optable tbody tr td a:hover{
 color: #00A5E2;
}
.optable tbody tr:hover{
  background-color: #fff;
  border: 2px solid #012023;

}
.optable th{
  padding: 20px 30px;
  color: #fff;
}
.pagination{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.pagination li a{
border: 2px solid #fbfbfb;
border-radius: 0;
padding: 5px 10px;
margin:0 0.3em; 
color: #f1f1f1;
background-color: none;
}
.pagination li a:hover{
  background-color: #fff;
  color: #191919;
}
.pagination li a.active{
    background-color: rgba(255,255,255,0.6);
  color: #191919;
}
.pagination3{
  position: relative;

}
.pagination4{
  position: absolute;
margin-bottom: 3px;
margin-left: 3px;
  bottom: 0rem;
}

.pagination4 li a{
  margin:0;
  border: 1px solid #fff;
  padding: 0.2rem 0.6rem;
}
.pagebox{
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
justify-content: center;
 z-index: 9999;
}
.pagination2{
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: center;
 z-index: 9999;
}
.pagination2 li a{
border: 2px solid #fefefe;
border-radius: 0;
padding: 5px 10px;
margin:1em 0.3em; 
color: #fefefe;
background-color: none;
}
.pagination2 li a:hover{
  background-color: #fdfdfd;
  color: #132211;
}
.pagination2 li a.active{
  background-color: #fdfdfd;
  color: #132211;
}
.pagination5{
  position: relative;
  margin-top: 100px;
  display: flex;
  justify-content: center;
 z-index: 9999;
}
.pagination5 a{
border: 2px solid #131313;
border-radius: 0;
padding: 5px 10px;
margin:1em 0.3em; 
color: #131313;
background-color: none;
}
.pagination5 li a:hover{
  background-color: #191919;
  color: #fff;
}
.pagination5 li a.active{
  background-color: #191919;
  color: #fff;
}
.editcontainer{
  width: 800px;
  display: flex;
  min-height:700px; 
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: relative;
}
.userbox{
padding: 0;
position: relative;
text-align: center;
display: flex;
}
#follownumbox{
  color:#212331;

  display:flex;
  justify-content: center;
}
#follownumbox >div{

position: relative;
}
#follownumbox a{

  display: block;
  color: #252527;
  width: 50px;
  padding:  15px 5px;
  margin: 0 5px;
  margin-bottom:20px; 
}
#follownumbox a:hover{
  color: #E32D40
}
.rightline:after {
   background-color: #00A5E2;
   height: 60%;
   width: 1px;
   top: 0;
   content: "";
   right: 0;
   position: absolute;
}
#follownumbox span{
  display: flex;
  justify-content: center;
}



.ablog{
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding:150px 0 0 0;
  justify-content: space-around;
}
.bloglist{
  position: relative;
  background-color: #fefefe;
 flex:  0 0 50%;
 min-height: 600px;
 max-width: 900px;
 padding: 1em;
 border-radius: 0.2rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.bloglist .title{
  padding: 0.9em 0;

  color: #132123;
  font-size: 16px;
  width: 100%;
  border-bottom: 2px solid #192823;
}
.bloglist h2 a{
  color: #545655;
}
.bloglist h2 a:hover{
  color: #E32D40;
}
.userbox{
  position: relative;
  background-color: #fdfdfd;
/*margin-right: 150px;*/
display: flex;
align-items: center;
justify-content: center;
padding: 50px 35px;
min-height: 200px;
flex: 0 0 10%;

/*margin-left: 70px;*/
border-radius: 0.3rem;

}
.tagslist{
  position: relative; 
  margin: 0;
  flex: 0 0 10%;
  padding:1em 1em;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
  min-height: 350px;
  min-width: 8em;
  border-radius: 3px;
  background-color:#fff; 
}
.tagslist li{
  margin-bottom: 0.3em;
  width: 100%;
  display: flex;
justify-content: space-between;
align-items: center;
}
.tagslist li span{
  margin-right: 0.5em;
}
.tagslist li a{
  color: #151515;
}
.tagslist li a:hover{
  color: #E32D40;
}
.userbox h2{
  color: #434332;
  font-size: 16px;
  font-family:"Microsoft YaHei","微软雅黑";
}
.oneblog{
  margin-top: 150px;
  color: #e6e6e6;
}
#article h2{
  color: #f0f0f0;
  font-family: "Microsoft YaHei";
}
#fileImage {
  position: absolute;
  clip:rect(0 0 0 0);
}
.upload_box{
  position:relative;
  margin-top:100px;
  width:800px;
  margin:1em auto;display: flex;
  flex-direction: column;
}
.upload_box .buttonbox{
  position: relative;
}
.upload_main{
  display:flex;
  flex-direction: column;
  align-items: center;
  border-width:1px 1px 2px; 
  border-style:solid; 
  border-color:#ccc #ccc #ddd; 
  background-color:#fbfbfb;
  padding-bottom: 30px;
}

.upload_choose{
  flex:0 0 40%;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;

}
.upload_drag_area{ 

  padding: 20px;
  min-height: 300px;
  min-width: 400px;
  border:1px dashed #ddd; 
  color:#999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.upload_drag_hover{border-color:#069; box-shadow:inset 2px 2px 4px rgba(0, 0, .5, .5); color:#333;}

.upload_append_list{
  display: flex;
  flex-direction: column;
  height:300px; 
  padding:0 1em; 
  align-items: center; 
  position:relative;}
.upload_delete{
  color:rgba(65,56,67,.6);
  font-weight: bold;
  height: 30px;
  width: 30px;
  border:2px dashed rgba(65,56,67,.6);
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
 }
 .upload_delete:hover{
  color: #20A1FE;
  border:2px dashed #20A1FE;
 }
.upload_image{display:flex;max-height:250px; padding:5px;align-items: center;justify-content: center;}
.upload_submit{padding-top:1em; padding-left:1em;}
.upload_submit_btn{display:none; height:32px; font-size:14px;}
.upload_progress{display:none; padding:5px; border-radius:10px; color:#fff; background-color:rgba(0,0,0,.6); position:absolute; left:25px; top:45px;}

.uploadForm{
  margin-top: 100px;
}
.uploadInf{
  margin-top: 1em;
  color: #888888;
  position: relative;;
}

.fragment{
  color: #999;
  margin-right: 1em;
}
.fragment .num{
  margin-left: 0.2em;
  font-size: 10px;
  font-family: "Microsoft YaHei";
}
 .fa-trash,.fa-edit {
  color: #0077DD;
}
.uk-comment-header{
  border-radius: 0.2em;
  margin-bottom: 0;
}
.fa-heart:hover,.fa-trash:hover,.fa-edit:hover{
color: #DC2C3E
}
.fa-heart .active {
  color: #DC2C3E
}
.commentuser{

  margin: 0 11px 15px 11px;
  position: relative;
  display: flex;
  align-items: center;
}
.commentuser img{
  height: 60px;
  width: 60px;
  margin-right:1.5em;
}
.likebutton{
  color: #999999;
  cursor: pointer;
}
.likebutton:hover{
  color: #E22D40;
}
.redlikebutton{
  cursor: pointer;
  color: #E22D40;
}
.redlikebutton:hover{
color: #999999
}
.comentnav{
  margin-top: 20px;
  padding: 0.2em;
  border-bottom: 1px solid #f1f1f1;
}
.comentnav h3{
  color: #00A5E2;
  padding: 0;
  margin: 0
}
.comment-body{
word-wrap: break-word;
word-break: break-all;     /*使英文也换行*/
  padding: 1em 1em;
  background-color: #fff;
  min-height: 100px;
  color: #0F0F0F;
}
.smarttime{
  color: #999;
  font-family: "Microsoft YaHei";
  font-size: 12px;

}

.comment-header{
  position: relative;
  border-radius: 0;
  display: flex;
  align-items: center;

}
.authoricon{
  font-size: 13px;
  color: #DB5425;
  font-family: 'Microsoft YaHei','STXihei';
}
.blue{
  color: #00A5E2;
}
.red{
  color: #E22D40;
}
.black{ color:#2a2a2a; }
.gred{
  color:#656554;
}
.author a{
  font-size: 13px;
  color: #999;
  font-weight: bold
}
.author a:hover{
  color: #141414
}
.fa-heart{
  font-size: 12px;
}
.fa-eye{
  font-size: 14px;
}

.itemsbox a{
  color: #999999;
  padding: 20px 0;
}
.itemsbox a:hover{
  color: #111111;
}
.edit {
  font-size: 11px;
  color: #0E88EB;
}
.edit:hover{
  color: #39C2FE;
}
h3{
  font-family: "Microsoft YaHei";
}
h2{
  font-family:'Georgia',"Lato","Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif,"Microsoft YaHei";
word-wrap: break-word;
word-break: break-all;     /*使英文也换行*/
}
#commentArea p{
color: #000000;
}
.wangEditor-txt{
  color: #000000;
}
#edit1{

  resize:none;
  position:relative;
height: 250px;
}
#edit2{
  resize:none;
  position:relative;
  height:600px;
}
#uploadhead{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  min-height: 700px;
}
#uploadhead .blue_button{
margin-top: 50px;
  height: 60px;
  width: 250px;
}
.toggle{
  display: none;
}
.round{
  border-radius: 50%;
  border: 2px solid #888787;
  padding: 2px;
}
.round:hover{
  border: 2px solid #0089BC;
}
.agreebox{
position: relative;
  left: -50px;
  top: 10px;
  width: 0px;
height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #efefef;
}
.agreebox i{
  line-height: 40px;
  font-size: 60px;
  cursor: pointer;
}

.infobox{
  
  margin-left: 50px;
}
.basebox{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.6em;
}
.basebox span {
  margin-right: 1em;
}
.infobox a{
  color: #888787;
}
.infobox a:hover{
   color: #010234;
}
.userslist{
padding:0 20px;
margin: 0;
}
.oneuser{
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.focusbutts{
  flex:0 0 10%;
}
.specbutton{
  flex: 0 0 20%;
}

.smalltriangleup {
width:0;
height:0;   
border-left:5px solid transparent;   
border-right:5px solid transparent;   
border-bottom:5px solid #fff;
cursor: pointer;
flex: 0 1 5%;
z-index: 1000;
} 
.triangleup:hover,.triangledown:hover{
  color: #00A5E2;
}
.triangledown {   
font-size: 40px;
cursor: pointer;
} 
.downactive {
  
cursor: pointer;
color:  #84BCE1;
}

.upactive {     
 color: #84BCE1;
cursor: pointer;
} 

.frags{
  margin-bottom: 1em;
}
.jiathis{
font-family: "微软雅黑","Microsoft Yahei","Droid Sans",Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 400;
line-height: 19.0333px;
position: relative;
bottom: 0px;
right: 0;

font-size: 15px;
background-color: none;
width: auto;
}
.footer{
  border-top:2px solid #DDDDDD;
  display: flex;
  justify-content: space-between;

  padding: 1.5em 0;

}
.jiathis a{
  color: #999;
  font-size: 25px;

}
.jiathis a:hover{
  color: #000;
}
.jiathis > a{
 padding: 1em 0;
}
.jiathis ul {
  background-color: #EAEAEA;
  border-radius: 3px;
  position: absolute;
/*margin-bottom: 3em;*/
display: none;
bottom: -2em;
right: -0.8em;
z-index: 5;
float: none;
}
.jiathis:hover ul {
  display: flex;
  justify-content: center;
  align-items: center;

}
.blogcontent{
  background-color: #fff;
  color: #0D0D0D;
  padding: 1.6em 1.4em 0 1.4em;
  border-radius: 0.2em;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jiathis ul li {
  display: flex;
  justify-content: center;
  align-items: center;
    border: none;
  outline: none;
  margin:0;
}
.jiathis ul li a {
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  border: none;
  outline: none;
  margin: 0;
  background-color: none;
  display: block;
  color: #999999;
}
.jiathis ul li a:hover{
  background-color: #131313;
  color: #fff;
}
.jiathis_button_tsina{
  border-radius: 3px 0 0 3px;
}
.jiathis_button_cqq{
  border-radius: 0 2.5px 2.5px 0 ;
}
.droptoggle{
  position: relative;
  height: 1.5em;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  cursor: pointer;
  z-index: 5;

}
.tagsbox{

  width: 100%;
  height: 1em;
}
.tag{
  font-family: 'Microsoft YaHei';
  margin:0 0.5em;
}
.tagbox{
  position: relative;
  height: 1em;
  color: #0D0D0D;
  margin:0 1em;
  
}
.tagbox a{
  color: #999999;
}
.tagbox a:hover{
  color: #0e0e0e;
}
.fa-times{
  cursor: pointer;
}
.fa-times:hover{
  color: #E32D40;
}
.fa-wrench,.fa-upload{
  margin-right:1em;
}
.fa-pencil,.fa-gears,.fa-sign-out,.fa-envelope,.fa-bell{
  margin-right:0.5em;
}
#hot{
  color: #E32D40;
}
/*radio style*/
.radiobox { 
  position: relative;
  display: block;
        width: 350px; 
        padding: 18px 20px 0; 
        margin:20px auto;
        background-color: #fff;
/*        background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
        background-image: -moz-linear-gradient(#049cdb, #0064cd);
        background-image: -ms-linear-gradient(#049cdb, #0064cd);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
        background-image: -webkit-linear-gradient(#049cdb, #0064cd);
        background-image: -o-linear-gradient(#049cdb, #0064cd);
        background-image: linear-gradient(#049cdb, #0064cd);  */
        -webkit-border-radius: 5px; 
        -moz-border-radius: 5px; 
        -khtml-border-radius: 5px; 
        border-radius: 5px;      
        -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        box-shadow: 0 5px 12px rgba(0,0,0,.4); 
      }

      fieldset { 
        display: inline;
        border: 0; 
     
      }
      label { 
        display: inline; 
        cursor: pointer; 
        line-height: 20px; 
        padding-bottom: 9px; 
        text-shadow: 0 -1px 0 rgba(0,0,0,.2); 
      }

      .radios { 
         padding: 0 0.5em ;
         color: #151515;
    /*    padding-top: 18px;*/
      }
      .radios span {
        margin-right: 1em;
      }
      .label_check input,
      .label_radio input { 
        margin-right: 5px; 
      }
      .label_radio{
        margin-right: 2em;
      }
      .has-js .label_check,
      .has-js .label_radio { 
        padding-left: 34px; 
      }
      
      .has-js .label_radio, 
      .has-js .label_check{ 
        background: url(checkbox-radio-bg.png) no-repeat; 
      }
      .has-js .label_radio { 
        background-position: 0 0; 
      }
      .has-js .label_check { 
        background-position: 0 -100px
      }
      .has-js label.c_on { 
        background-position: 0 -150px;
      }
      .has-js label.r_on { 
        background-position: 0 -50px; 
      }
      .has-js .label_check input,
      .has-js .label_radio input { 
        position: absolute; 
        left: -9999px; 
      } 
{
  margin-bottom: 
}
.taghead{
border-bottom: 1px solid #111;
padding:0.3em 0;
}
.taghead .fa-tags{
  margin-right: 0.5em;
}
.tips{
  visibility: hidden;
  height: 0;
  width: 0;
}
.markbox{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.fa-angle-double-left,.fa-angle-double-right{
  color: #1FC5F2;
}
.marktoggle:hover .fa-angle-double-left,.marktoggle:hover .fa-angle-double-right{
  color:  #E22D40;
}
.marktoggle{
  cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
  text-align: center;
  align-self: center;
  position: absolute;
  height: 80px;
  width: 15px;
  top: 50%;
  margin-top: -40px;
  right: -16px;
  border-radius:0 5px 5px  0;
  border: 1px solid #888777;
  border-left: 0;
}
.bookmark{
  border-left: 4px solid #1FC5F2;
  visibility:hidden;
  z-index: 100;
  margin:0;
  outline: 0;
list-style: none;
position: fixed;

top: 100px;
padding:15px;
max-width: 250px;
min-height: 600px;
background-color: #fff;
border-radius: 0 3px 3px 0;
display: block;
 -webkit-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        -moz-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        -khtml-box-shadow: 0 5px 12px rgba(0,0,0,.4); 
        box-shadow: 0 5px 12px rgba(0,0,0,.4); 
}
.bookmark a{
    color: #141414;
}
.bookmark a:hover{
  color: #E22D40;
}
.bookmark li{
  margin-bottom: 1em;
}
.fa-bookmark{
  margin-right: 10px;
}
.h1tag{
  font-size: 16px;
  margin-left: 0;
  margin-bottom: 1.5em;
}
.h2tag{
  font-size: 14px;
  margin-left: 1rem;
    margin-bottom: 1.3em;
}
.h3tag{
  font-size: 12px;
  margin-left: 2rem;
  margin-bottom: 1.1em;
}
.h4tag{
  font-size: 11px;
  margin-left: 3rem;
  margin-bottom: 0.9em;
}
.h5tag{
  font-size: 11px;
  margin-left: 4rem;
  margin-bottom: 0.7em;
}
.h6tag{
  font-size: 10px;
  margin-left: 5rem;
  margin-bottom: 0.7em;
}
.navbar{
  font-size: 18px;
  position: relative;
  flex: 0 0 20%;
  min-width: 200px;
  background-color: #fff;
  border-right:1px solid #bbb;

}
.navbar a{
  position: relative;
  padding:20px 30px ;
  display: block;

}
.navbar a.active{
background-color: #00A5E2;
color: #fff;
}
.mentionwrapper{
  padding:0 1em;
 
  position: relative;
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.mainwrapper{
  position: relative;
  width: 1000px;
  margin-top: 150px;
  margin-bottom: 5rem;
  min-height: 600px;
  display: flex;
  justify-content: center;
}
.tool-bar a{
  padding: 20px;
  
}
.tool-bar{

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #777;
}
a{
  color: #666;
}
a:hover{
  color: #E22D40;
}
.onemention{
  padding: 1em 0.5em;
  width: 100%;
}
.mentionbox{
  margin-top: 0;
  width: 90%;
}
.mentionbox span{
  margin: 0 0.5em;

}
.mentionbox li{
  position: relative;
  width: 100%;
  padding:1em 0 ;
  border-bottom: 1px dashed #bbb;

}
.fa-envira{
  font-size:0.9em;
  color: #3A972D;
  position: absolute;
  left: -1.5em;

}
.fa-sun-o{
  color: #EDBC11;
  font-size:11px;
}

.loadmore{
  width: 100%;
padding: 18px 0;
  cursor: pointer;
  background-color: rgba(61,61,61,0.2);
  position: absolute;
  top:0;
  border-radius: 3px 0 0 0;
display: flex;
justify-content: center;
align-items: center;
color: #999;
}
.loadmore:hover{
  color:#fff;
background-color: rgba(0,153,226,0.3);
}
.fa-circle{
  color: #44B036;
  font-size: 13px;
  margin-right: 2em;
  z-index: 100;
}
.mention-icon{
position: relative;
top:-1em;
}
.mention-icon2{
 position:absolute;
top:0.3em;
right: 1.6em; 
}
.loadmoreblogs{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  background-color: rgba(15,15,15,0.5);
  cursor: pointer;
  padding: 1em 0;
  margin-right: auto;
  margin-left:auto; 

}
.loadmoreblogs:hover{
  background-color: rgba(58,190,249,0.9);
}
